[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest
[submodule "submodules/openssl"]
	path = submodules/openssl
	url = https://github.com/quictls/openssl.git
	branch = openssl-3.0.0+quic
