[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest
[submodule "submodules/openssl"]
	path = submodules/openssl
	url = https://github.com/akamai/openssl.git
	branch = master-alpha4-quic-support
[submodule "submodules/everest"]
	path = submodules/everest
	url = https://github.com/nibanks/everest-dist.git
	branch = pr/msquic
[submodule "submodules/wil"]
	path = submodules/wil
	url = https://github.com/microsoft/wil
