[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest
[submodule "submodules/openssl"]
	path = submodules/openssl
	url = https://github.com/quictls/openssl.git
	branch = OpenSSL_1_1_1t+quic1
[submodule "submodules/openssl3"]
	path = submodules/openssl3
	url = https://github.com/quictls/openssl.git
	branch = openssl-3.1.0+quic
[submodule "submodules/clog"]
	path = submodules/clog
	url = https://github.com/microsoft/CLOG.git
[submodule "submodules/xdp-tools"]
	path = submodules/xdp-tools
	url = https://github.com/xdp-project/xdp-tools.git
