# Continuous integration for Linux and Windows.
# https://aka.ms/yaml

trigger:
- master

strategy:
  matrix:
    linux-stub:
      platform: 'ubuntu'
      config: 'stub'
      imageName: 'ubuntu-latest'
      buildArgs: '-Tls stub -DisableLogs'
      testCmd: 'bash ./.azure/test_linux.sh ''*'''
    linux-stub-sanitize:
      platform: 'ubuntu'
      config: 'stub-sanitize'
      imageName: 'ubuntu-latest'
      buildArgs: '-Tls stub -DisableLogs -SanitizeAddress'
      testCmd: 'bash ./.azure/test_linux.sh AppData/WithSendArgs2.SendLarge/0'
    linux-stub-spin:
      platform: 'ubuntu'
      config: 'stub-spin'
      buildArgs: '-Tls stub -DisableLogs -SanitizeAddress'
      testCmd: 'bash ./.azure/spin_linux.sh'
    linux-openssl:
      platform: 'ubuntu'
      config: 'openssl'
      buildArgs: '-Tls openssl -DisableLogs'
      testCmd: 'bash ./.azure/test_linux.sh ''*'''
    windows-x64-stub:
      platform: 'windows'
      config: 'stub'
      buildArgs: '-Tls stub'
      testCmd: '.\.azure\test_windows.cmd -*Unreachable/0'
    windows-x64-stub-spin:
      platform: 'windows'
      config: 'stub-spin'
      buildArgs: '-Tls stub'
      testCmd: '.\.azure\spin_windows.cmd'
    windows-x64-mitls:
      platform: 'windows'
      config: 'mitls'
      buildArgs: '-Tls mitls'
      testCmd: '.\.azure\test_windows.cmd -*Unreachable/0'
    windows-x64-schannel:
      platform: 'windows'
      config: 'schannel'
      buildArgs: '-Tls schannel'
      testCmd: '.\.azure\test_windows.cmd ParameterValidation.*'

pool:
  vmImage: '$(platform)-latest'

steps:
- checkout: self
  submodules: recursive
  persistCredentials: true

- task: PowerShell@2
  displayName: 'Build'
  inputs:
    pwsh: true
    filePath: './build.ps1'
    arguments: '-InstallAzureDependencies $(buildArgs)'

- task: CmdLine@2
  displayName: 'Run Tests'
  timeoutInMinutes: 10
  inputs:
    script: '$(testCmd)'

- task: PublishPipelineArtifact@1
  displayName: 'Publish Artifacts'
  inputs:
    targetPath: 'artifacts'
    artifactName: '$(platform)-$(config)'

- task: PublishTestResults@2
  displayName: 'Publish Test Results'
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: '**/*test-results.xml'
    failTaskOnFailedTests: true
