# This template contains steps to build msquic.sys for a single architecture.

parameters:
  arch: ''

jobs:
- job: build_winkernel_${{ parameters.arch }}
  displayName: Build Windows Kernel Driver ${{ parameters.arch }}
  pool:
    vmImage: windows-latest
  steps:
  - checkout: self

  - task: VSBuild@1
    continueOnError: true
    inputs:
      solution: msquic.kernel.sln
      platform: ${{ parameters.arch }}
      configuration: debug

  - task: VSBuild@1
    continueOnError: true
    inputs:
      solution: msquic.kernel.sln
      platform: ${{ parameters.arch }}
      configuration: release

  - template: ./upload-artifacts.yml
