# This template contains steps to build MsQuic for a single configuration.

parameters:
  image: ''
  platform: ''
  arch: ''
  tls: ''
  container: ''
  extraBuildArgs: ''

jobs:
- job: build_${{ parameters.platform }}_${{ parameters.arch }}_${{ parameters.tls }}
  displayName: ${{ parameters.arch }} ${{ parameters.tls }}
  pool:
    vmImage: ${{ parameters.image }}
    container: ${{ parameters.container }}
  steps:
  - checkout: self
    submodules: recursive

  - shell: |
      wget -q https://packages.microsoft.com/config/ubuntu/18.04/packages-microsoft-prod.deb

      sudo dpkg -i packages-microsoft-prod.deb

      sudo apt-get update

      sudo add-apt-repository universe

      sudo apt-get install -y powershell
    displayName: Install Powershell

  - task: PowerShell@2
    displayName: Prepare Build Machine
    inputs:
      pwsh: true
      filePath: scripts/prepare-machine.ps1
      arguments: -Configuration Build

  - task: PowerShell@2
    displayName: Build Source Code (Debug)
    inputs:
      pwsh: true
      filePath: scripts/build.ps1
      arguments: -Arch ${{ parameters.arch }} -Tls ${{ parameters.tls }} -Platform ${{ parameters.platform }} ${{ parameters.extraBuildArgs }}

  - task: PowerShell@2
    displayName: Build Source Code (Release)
    inputs:
      pwsh: true
      filePath: scripts/build.ps1
      arguments: -Config Release -Arch ${{ parameters.arch }} -Tls ${{ parameters.tls }} -Platform ${{ parameters.platform }} ${{ parameters.extraBuildArgs }}

  - template: ./upload-artifacts.yml
