# This template contains steps to build msquic.sys for a single architecture.

parameters:
  arch: ''

jobs:
- job: build_winkernel_${{ parameters.arch }}
  displayName: ${{ parameters.arch }}
  pool:
    vmImage: windows-latest
  steps:
  - checkout: self
    submodules: recursive

  - task: NuGetCommand@2
    displayName: Nuget Restore
    inputs:
      restoreSolution: msquic.kernel.sln

  - task: VSBuild@1
    inputs:
      solution: msquic.kernel.sln
      platform: ${{ parameters.arch }}
      configuration: debug

  - task: VSBuild@1
    inputs:
      solution: msquic.kernel.sln
      platform: ${{ parameters.arch }}
      configuration: release

  - template: ./upload-artifacts.yml
