# This template contains steps to build MsQuic for a single configuration.

parameters:
  image: ''
  container: ''
  platform: ''
  arch: ''
  tls: ''
  config: 'Debug,Release'
  extraBuildArgs: ''

jobs:
- job: build_${{ parameters.platform }}_${{ parameters.arch }}_${{ parameters.tls }}
  displayName: ${{ parameters.arch }} ${{ parameters.tls }}
  pool:
    vmImage: ${{ parameters.image }}
  ${{ if ne(parameters.container, '') }}:
    container: ${{ parameters.container }}
  steps:
  - checkout: self
    submodules: recursive

  - task: ShellScript@2
    displayName: Install Powershell
    condition: eq('${{ parameters.platform }}', 'linux')
    inputs:
      scriptPath: scripts/install-powershell.sh

  - task: PowerShell@2
    displayName: Prepare Build Machine
    inputs:
      pwsh: true
      filePath: scripts/prepare-machine.ps1
      arguments: -Configuration Build

  - task: PowerShell@2
    displayName: Build Source Code (Debug)
    condition: contains('${{ parameters.config }}', 'Debug')
    inputs:
      pwsh: true
      filePath: scripts/build.ps1
      arguments: -Arch ${{ parameters.arch }} -Tls ${{ parameters.tls }} -Platform ${{ parameters.platform }} ${{ parameters.extraBuildArgs }}

  - task: PowerShell@2
    displayName: Build Source Code (Release)
    condition: contains('${{ parameters.config }}', 'Release')
    inputs:
      pwsh: true
      filePath: scripts/build.ps1
      arguments: -Config Release -Arch ${{ parameters.arch }} -Tls ${{ parameters.tls }} -Platform ${{ parameters.platform }} ${{ parameters.extraBuildArgs }}

  - template: ./upload-artifacts.yml
