# This template contains steps to build quic.dll debugger extension for a single architecture.

parameters:
  arch: ''

jobs:
- job: build_dbgext_${{ parameters.arch }}
  displayName: ${{ parameters.arch }}
  pool:
    vmImage: windows-2019
  steps:
  - checkout: self

  - task: VSBuild@1
    continueOnError: true
    inputs:
      solution: src\plugins\msquic.windbg.sln
      platform: ${{ parameters.arch }}
      configuration: debug

  - task: VSBuild@1
    continueOnError: true
    inputs:
      solution: src\plugins\msquic.windbg.sln
      platform: ${{ parameters.arch }}
      configuration: release

  - template: ./upload-artifacts.yml
