# This template contains steps to build MsQuic for a single configuration.

parameters:
  image: ''
  platform: ''
  arch: ''
  tls: ''
  container: ''
  extraBuildArgs: ''

jobs:
- job: build_${{ parameters.platform }}_${{ parameters.arch }}_${{ parameters.tls }}
  displayName: ${{ parameters.arch }} ${{ parameters.tls }}
  pool:
    vmImage: ${{ parameters.image }}

  container: ${{ parameters.container }}

  steps:
  - checkout: self
    submodules: recursive

  - script: |
      wget -q https://packages.microsoft.com/config/ubuntu/18.04/packages-microsoft-prod.deb
      sudo dpkg -i packages-microsoft-prod.deb
      sudo apt-get update
      sudo add-apt-repository universe
      sudo apt-get install -y powershell

      wget https://dot.net/v1/dotnet-install.sh -O dotnet-install.sh
      chmod +x ./dotnet-install.sh
      ./dotnet-install.sh -c Current
      
    displayName: Install Powershell

  - task: PowerShell@2
    displayName: Build Source Code (Debug)
    inputs:
      pwsh: true
      filePath: scripts/build.ps1
      arguments: -Arch ${{ parameters.arch }} -Tls ${{ parameters.tls }} -Platform ${{ parameters.platform }} ${{ parameters.extraBuildArgs }}

  - task: PowerShell@2
    displayName: Build Source Code (Release)
    inputs:
      pwsh: true
      filePath: scripts/build.ps1
      arguments: -Config Release -Arch ${{ parameters.arch }} -Tls ${{ parameters.tls }} -Platform ${{ parameters.platform }} ${{ parameters.extraBuildArgs }}

  - template: ./upload-artifacts.yml
