# This template contains steps to build MsQuic for a single configuration.

parameters:
  image: ''
  platform: ''
  arch: ''
  tls: ''
  extraBuildArgs: ''

jobs:
- job: build_${{ parameters.platform }}_${{ parameters.arch }}_${{ parameters.tls }}
  displayName: Build ${{ parameters.platform }} ${{ parameters.arch }} ${{ parameters.tls }}
  pool:
    vmImage: ${{ parameters.image }}
  steps:
  - checkout: self
    submodules: recursive

  - task: PowerShell@2
    displayName: Prepare Build Machine
    inputs:
      pwsh: true
      filePath: scripts/prepare-machine.ps1
      arguments: -Configuration Build

  - task: PowerShell@2
    displayName: Build Source Code (Debug)
    inputs:
      pwsh: true
      filePath: scripts/build.ps1
      arguments: -Arch ${{ parameters.arch }} -Tls ${{ parameters.tls }} ${{ parameters.extraBuildArgs }}

  - task: PowerShell@2
    displayName: Build Source Code (Release)
    inputs:
      pwsh: true
      filePath: scripts/build.ps1
      arguments: -Config Release -Arch ${{ parameters.arch }} -Tls ${{ parameters.tls }} ${{ parameters.extraBuildArgs }}

  - template: ./upload-artifacts.yml
