# This template contains steps to build msquic.sys for a single architecture.

parameters:
  arch: ''

jobs:
- job: build_winkernel_${{ parameters.arch }}
  displayName: Build Windows Kernel Driver ${{ parameters.arch }}
  pool:
    vmImage: windows-latest
  steps:
  - checkout: self

  - task: PowerShell@1
    displayName: Install WDK for VS
    inputs:
      scriptType: inlineScript
      inlineScript: |
        try {
            $process = Start-Process `
              -FilePath "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\Common7\IDE\VSIXInstaller.exe" `
              -ArgumentList ("/quiet", '"C:\Program Files (x86)\Windows Kits\10\Vsix\VS2019\WDK.vsix"') `
              -Wait `
              -PassThru
        } catch {
            Write-Host "There is an error during WDK.vsix installation"
            $_
            exit 1
        }

  - task: VSBuild@1
    continueOnError: true
    inputs:
      solution: msquic.kernel.sln
      platform: ${{ parameters.arch }}
      configuration: debug

  - task: VSBuild@1
    continueOnError: true
    inputs:
      solution: msquic.kernel.sln
      platform: ${{ parameters.arch }}
      configuration: release

# Disable currently because the above fail.
#  - template: ./upload-artifacts.yml
