# This template contains steps to build msquic.sys for a single architecture.

parameters:
  arch: ''
  config: 'Debug,Release'

jobs:
- job: build_winkernel_${{ parameters.arch }}
  displayName: ${{ parameters.arch }}
  pool:
    vmImage: windows-2019
  steps:
  - checkout: self
    path: msquic

  - task: PowerShell@2
    displayName: Prepare Build Machine
    inputs:
      pwsh: true
      filePath: scripts/prepare-machine.ps1
      arguments: -Configuration Build -InitSubmodules -Tls schannel -Kernel -FailOnError

  - task: NuGetCommand@2
    displayName: Nuget Restore
    inputs:
      restoreSolution: msquic.kernel.sln

  - task: VSBuild@1
    displayName: Build Source Code (Debug)
    condition: and(succeeded(), contains('${{ parameters.config }}', 'Debug'))
    inputs:
      solution: msquic.kernel.sln
      platform: ${{ parameters.arch }}
      configuration: debug
      msbuildArgs: /p:QUIC_VER_SUFFIX=-official /p:QUIC_VER_BUILD_ID=$(Build.BuildId)

  - task: VSBuild@1
    displayName: Build Source Code (Release)
    condition: and(succeeded(), contains('${{ parameters.config }}', 'Release'))
    inputs:
      solution: msquic.kernel.sln
      platform: ${{ parameters.arch }}
      configuration: release
      msbuildArgs: /p:QUIC_VER_SUFFIX=-official /p:QUIC_VER_BUILD_ID=$(Build.BuildId)

  - template: ./upload-artifacts.yml
