# This template contains steps to build msquic.sys for a single architecture.

parameters:
  arch: ''

jobs:
- job: build_winkernel_${{ parameters.arch }}
  displayName: Build Windows Kernel Driver ${{ parameters.arch }}
  pool:
    vmImage: windows-latest
  steps:
  - checkout: self
    submodules: recursive

  - task: PowerShell@2
    inputs:
      targetType: inline
      script: |
        Start-Process -Wait -FilePath "C:\Program Files (x86)\Microsoft Visual Studio\Installer\vs_installer.exe" -ArgumentList "update --passive --norestart --installpath ""C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise"""

  - task: VSBuild@1
    inputs:
      solution: msquic.kernel.sln
      platform: ${{ parameters.arch }}
      configuration: debug

  - task: VSBuild@1
    inputs:
      solution: msquic.kernel.sln
      platform: ${{ parameters.arch }}
      configuration: release

  - template: ./upload-artifacts.yml
