#
# Continuous Integration (CI) for Internal Repository Mirror
# This pipeline builds, validates and packages all components necessary for
# internal Windows consumption.
#

trigger:
  batch: true
  branches:
    include:
    - master
    - release/*
    - integration/*
pr:
- master
- release/*
- integration/*

name: 0.$(Date:yyMM).$(DayOfMonth)$(Rev:rr).0

#
# Builds
#

stages:

- stage: build_windows
  displayName: Build Windows
  dependsOn: []
  condition: startsWith(variables['Build.SourceBranch'], 'refs/heads/integration/')
  jobs:
  - template: ./templates/build-config-user.yml
    parameters:
      image: windows-latest
      platform: windows
      arch: x86
      tls: schannel
  - template: ./templates/build-config-user.yml
    parameters:
      image: windows-latest
      platform: windows
      arch: x64
      tls: schannel
  - template: ./templates/build-config-user.yml
    parameters:
      image: windows-latest
      platform: windows
      arch: arm
      tls: schannel
  - template: ./templates/build-config-user.yml
    parameters:
      image: windows-latest
      platform: windows
      arch: arm64
      tls: schannel

- stage: build_winkernel
  displayName: Build Windows Drivers
  dependsOn: []
  condition: startsWith(variables['Build.SourceBranch'], 'refs/heads/integration/')
  jobs:
  - template: ./templates/build-config-winkernel.yml
    parameters:
      arch: x64
  - template: ./templates/build-config-winkernel.yml
    parameters:
      arch: x86
  - template: ./templates/build-config-winkernel.yml
    parameters:
      arch: arm
  - template: ./templates/build-config-winkernel.yml
    parameters:
      arch: arm64

#
# Build Verification Tests
#

- stage: test_bvt
  displayName: Build Verification Tests
  dependsOn:
  - build_windows
  condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/heads/integration/'))
  jobs:
  - template: ./templates/run-bvt-int.yml
    parameters:
      arch: x64

#
# Package
#

- stage: Package
  displayName: Package
  dependsOn:
  - build_windows
  - build_winkernel
  condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/heads/integration/'))
  jobs:
  - template: ./templates/create-package.yml

#
# Merge to Integration
#

- stage: integrate
  displayName: Integrate Branch
  dependsOn: []
  condition: not(startsWith(variables['Build.SourceBranch'], 'refs/heads/integration/'))
  jobs:
  - job: integrate
    displayName: Integrate Branch
    pool:
      vmImage: windows-latest
    variables:
      runCodesignValidationInjection: false
    steps:
    - checkout: self
      persistCredentials: true
    - task: PowerShell@2
      displayName: Integrate Branch
      inputs:
        filePath: .azure/scripts/integrate-branch.ps1
        arguments: -Branch $(Build.SourceBranch)
