#
# Continuous Integration (CI)
# This pipeline builds and validates MsQuic in all supported configurations.
#

trigger:
- master
pr:
- master

name: 0.$(Date:yyMM).$(DayOfMonth)$(Rev:rr).0

# Builds

stages:

- stage: build
  displayName: Build
  jobs:
  - template: ./templates/build-windows.yml
  - template: ./templates/build-linux.yml

# Mirror

stages:

- stage: mirror
  displayName: Mirror
  condition: and(succeeded(), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
  jobs:
  - template: ./templates/sync-mirror.yml

# Tests

- stage: test
  displayName: Test
  jobs:

## Build Verification Tests

  - template: ./templates/run-bvt.yml
    parameters:
      image: windows-latest
      platform: windows
      arch: x64
      tls: schannel
      extraArgs: -Filter "ParameterValidation.*:-*Events"

  - template: ./templates/run-bvt.yml
    parameters:
      image: windows-latest
      platform: windows
      arch: x64
      tls: mitls
      extraArgs: -Filter -*Unreachable/0

# OpenSSL tests are broken because they can't load on a different
# machine from where they were built.
#  - template: ./templates/run-bvt.yml
#    parameters:
#      image: ubuntu-latest
#      platform: linux
#      arch: x64
#      tls: openssl

  - template: ./templates/run-bvt.yml
    parameters:
      image: ubuntu-latest
      platform: linux
      config: Release
      arch: x64
      tls: stub

## SpinQuic

  - template: ./templates/run-spinquic.yml
    parameters:
      image: windows-latest
      platform: windows
      arch: x64
      tls: stub

  - template: ./templates/run-spinquic.yml
    parameters:
      image: ubuntu-latest
      platform: linux
      arch: x64
      tls: stub
