#
# Continuous Integration (CI) for Internal Repository Mirror
# This pipeline builds, validates and packages all components necessary for
# internal Windows consumption.
#

trigger:
  batch: true
  branches:
    include:
    - main
    - release/*
    - integration/*
pr:
- main
- release/*
- integration/*

name: 0.$(Date:yyyy).$(Date:MM).$(DayOfMonth).$(Rev:rr).0

stages:

#
# Merge to Integration
#

- stage: integrate
  displayName: Integrate Branch
  dependsOn: []
  condition: |
    and
    (
      not(startsWith(variables['Build.SourceBranch'], 'refs/pull')),
      not(startsWith(variables['Build.SourceBranch'], 'refs/heads/integration/'))
    )
  jobs:
  - job: integrate
    displayName: Integrate
    pool:
      vmImage: windows-latest
    variables:
      runCodesignValidationInjection: false
    steps:
    - checkout: self
      persistCredentials: true
    - task: PowerShell@2
      displayName: Integrate Branch
      inputs:
        filePath: scripts/integrate-branch.ps1
        arguments: -Branch $(Build.SourceBranch)

#
# Builds
#

- stage: build_winkernel
  displayName: Build Windows Drivers
  dependsOn: []
  condition: |
    or
    (
      startsWith(variables['Build.SourceBranch'], 'refs/pull'),
      startsWith(variables['Build.SourceBranch'], 'refs/heads/integration/')
    )
  jobs:
  - template: ./templates/build-config-winkernel.yml
    parameters:
      arch: x64
  - template: ./templates/build-config-winkernel.yml
    parameters:
      arch: x86
  - template: ./templates/build-config-winkernel.yml
    parameters:
      arch: arm
  - template: ./templates/build-config-winkernel.yml
    parameters:
      arch: arm64

- stage: build_windows
  displayName: Build Windows
  dependsOn: []
  condition: |
    or
    (
      startsWith(variables['Build.SourceBranch'], 'refs/pull'),
      startsWith(variables['Build.SourceBranch'], 'refs/heads/integration/')
    )
  jobs:
  - template: ./templates/build-config-user.yml
    parameters:
      image: windows-latest
      platform: windows
      arch: x86
      tls: schannel
  - template: ./templates/build-config-user.yml
    parameters:
      image: windows-latest
      platform: windows
      arch: x64
      tls: schannel
  - template: ./templates/build-config-user.yml
    parameters:
      image: windows-latest
      platform: windows
      arch: arm
      tls: schannel
  - template: ./templates/build-config-user.yml
    parameters:
      image: windows-latest
      platform: windows
      arch: arm64
      tls: schannel

#
# Build Verification Tests
#

- stage: test_bvt
  displayName: BVT
  dependsOn:
  - build_windows
  condition: |
    and
    (
      or
      (
        startsWith(variables['Build.SourceBranch'], 'refs/pull'),
        startsWith(variables['Build.SourceBranch'], 'refs/heads/integration/')
      ),
      succeeded()
    )
  jobs:
  - template: ./templates/run-bvt.yml
    parameters:
      pool: MsQuic
      platform: windows
      tls: schannel
      logProfile: Full.Light

#
# Build Verification Tests (Kernel Mode)
#

- stage: test_bvt_kernel
  displayName: BVT Kernel
  dependsOn:
  - build_winkernel
  condition: |
    and
    (
      or
      (
        startsWith(variables['Build.SourceBranch'], 'refs/pull'),
        startsWith(variables['Build.SourceBranch'], 'refs/heads/integration/')
      ),
      succeeded()
    )
  jobs:
  - template: ./templates/run-bvt.yml
    parameters:
      pool: MsQuic
      platform: windows
      tls: schannel
      logProfile: Full.Light
      extraArgs: -Kernel
      kernel: true

#
# Package
#

- stage: Package
  displayName: Package
  dependsOn:
  - build_windows
  - build_winkernel
  condition: and(startsWith(variables['Build.SourceBranch'], 'refs/heads/integration/'), succeeded())
  jobs:
  - template: ./templates/create-package.yml
