#
# This pipeline builds the MsQuic related plugin code.
#

trigger:
  branches:
    include:
    - main
    - release/*
  paths:
    include:
    - .azure/*
    - src/plugins/*
pr:
  branches:
    include:
    - main
    - release/*
  paths:
    include:
    - .azure/*
    - src/plugins/*

name: 0.$(Date:yyyy).$(Date:MM).$(DayOfMonth).$(Rev:rr).0

stages:

- stage: build_dbgext
  displayName: Build WinDbg Extension
  dependsOn: []
  jobs:
  - template: ./templates/build-config-dbgext.yml
    parameters:
      arch: x64
  - template: ./templates/build-config-dbgext.yml
    parameters:
      arch: x86

- stage: build_quictrace
  displayName: Build QuicTrace
  dependsOn: []
  jobs:
  - template: ./templates/build-config-quictrace.yml
