#
# Continuous Integration (CI)
# This pipeline builds and runs MsQuic performance tests.
#

trigger: none
pr: none

name: 0.$(Date:yyyy).$(Date:MM).$(DayOfMonth).$(Rev:rr).0

parameters:
- name: kernelmode
  type: boolean
  displayName: Kernel Mode
  default: false
- name: mode
  type: string
  displayName: Mode
  default: Normal
  values:
  - Normal
  - PGO
  - Record
  - RecordQUICTrace

#
# Builds
#

stages:

- stage: build_windows
  displayName: Build Windows
  dependsOn: []
  variables:
    runCodesignValidationInjection: false
  jobs:
  # Officially supported configurations.
  - ${{ if eq(parameters.kernelmode, false) }}:
    - template: ./templates/build-config-user.yml
      parameters:
        image: windows-latest
        platform: windows
        arch: x86
        tls: schannel
        config: Release
        ${{ if eq(parameters.mode, 'PGO') }}:
          extraBuildArgs: -DisableTest -DisableTools -PGO
        ${{ if ne(parameters.mode, 'PGO') }}:
          extraBuildArgs: -DisableTest -DisableTools
  - ${{ if eq(parameters.kernelmode, true) }}:
    - template: ./templates/build-config-winkernel.yml
      parameters:
        arch: x64
        skipDebug: true
  - template: ./templates/build-config-user.yml
    parameters:
      image: windows-latest
      platform: windows
      arch: x64
      tls: schannel
      config: Release
      ${{ if eq(parameters.mode, 'PGO') }}:
        extraBuildArgs: -DisableTest -DisableTools -PGO
      ${{ if ne(parameters.mode, 'PGO') }}:
        extraBuildArgs: -DisableTest -DisableTools

#
# Performance Tests
#

- stage: performance
  displayName: Performance Testing (${{ parameters.mode }})
  dependsOn:
  - build_windows
  jobs:
  - template: ./templates/run-performance.yml
    parameters:
      pool: MsQuic-Win-Perf
      platform: windows
      localTls: schannel
      remoteTls: schannel
      kernelMode: -Kernel
      ${{ if eq(parameters.mode, 'PGO') }}:
        extraArgs: -PGO
      ${{ if eq(parameters.mode, 'Record') }}:
        extraArgs: -RecordStack
      ${{ if eq(parameters.mode, 'RecordQUICTrace') }}:
        extraArgs: -RecordQUIC
  # Skip 32 bit and loopback in kernel mode
  - ${{ if eq(parameters.kernelmode, false) }}:
    - template: ./templates/run-performance.yml
      parameters:
        pool: MsQuic-Win-Perf
        platform: windows
        localTls: schannel
        remoteTls: schannel
        arch: x86
        ${{ if eq(parameters.mode, 'PGO') }}:
          extraArgs: -PGO
        ${{ if eq(parameters.mode, 'Record') }}:
          extraArgs: -RecordStack
        ${{ if eq(parameters.mode, 'RecordQUICTrace') }}:
          extraArgs: -RecordQUIC
    - template: ./templates/run-performance.yml
      parameters:
        pool: MsQuic-Win-Perf
        platform: windows
        localTls: schannel
        remoteTls: schannel
        extraName: Loopback
        ${{ if eq(parameters.mode, 'PGO') }}:
          extraArgs: -PGO -Local
        ${{ if eq(parameters.mode, 'Record') }}:
          extraArgs: -RecordStack -Local
        ${{ if eq(parameters.mode, 'Normal') }}:
          extraArgs: -Local
        ${{ if eq(parameters.mode, 'RecordQUICTrace') }}:
          extraArgs: -RecordQUIC -Local
    - template: ./templates/run-performance.yml
      parameters:
        pool: MsQuic-Win-Perf
        platform: windows
        localTls: schannel
        remoteTls: schannel
        extraName: Loopback
        arch: x86
        ${{ if eq(parameters.mode, 'PGO') }}:
          extraArgs: -PGO -Local
        ${{ if eq(parameters.mode, 'Record') }}:
          extraArgs: -RecordStack -Local
        ${{ if eq(parameters.mode, 'Normal') }}:
          extraArgs: -Local
        ${{ if eq(parameters.mode, 'RecordQUICTrace') }}:
          extraArgs: -RecordQUIC -Local
