#
# Continuous Integration (CI)
# This pipeline builds and validates MsQuic for all configurations.
#

trigger:
  batch: true
  branches:
    include:
    - main
    - release/*
  paths:
    exclude:
    - src/plugins/*
    - docs/*
    - README.md
pr:
  branches:
    include:
    - main
    - release/*
  paths:
    exclude:
    - src/plugins/*
    - docs/*
    - README.md

# Periodically rebuild release branches to make sure they are functional.
schedules:
- cron: "0 0 * * Mon"
  displayName: Weekly Release Build
  branches:
    include:
    - release/*
  always: true

name: 0.$(Date:yyyy).$(Date:MM).$(DayOfMonth).$(Rev:rr).0

resources:
  containers:
  - container: raspbian
    image:  wpilib/raspbian-cross-ubuntu:10-18.04

stages:

#
# Builds
#

- stage: build_winkernel_release
  displayName: Build Windows Drivers - Release
  dependsOn: []
  jobs:
  - template: ./templates/build-config-winkernel.yml
    parameters:
      arch: x64
      config: Release

- stage: build_winkernel_debug
  displayName: Build Windows Drivers - Debug
  dependsOn: []
  jobs:
  - template: ./templates/build-config-winkernel.yml
    parameters:
      arch: x64
      config: Debug

- stage: build_winkernel_nontest
  displayName: Build Windows Drivers - Non Tested
  dependsOn: []
  jobs:
  - template: ./templates/build-config-winkernel.yml
    parameters:
      arch: x86
  - template: ./templates/build-config-winkernel.yml
    parameters:
      arch: arm
  - template: ./templates/build-config-winkernel.yml
    parameters:
      arch: arm64

- stage: build_windows_release
  displayName: Build Windows - Release
  dependsOn: []
  jobs:
  - template: ./templates/build-config-user.yml
    parameters:
      image: windows-latest
      platform: windows
      arch: x64
      tls: schannel
      config: Release
      extraBuildArgs: -EnableTelemetryAsserts
  - template: ./templates/build-config-user.yml
    parameters:
      image: windows-latest
      platform: windows
      arch: x64
      tls: openssl
      config: Release
      extraBuildArgs: -EnableTelemetryAsserts

- stage: build_windows_debug
  displayName: Build Windows - Debug
  dependsOn: []
  jobs:
  - template: ./templates/build-config-user.yml
    parameters:
      image: windows-latest
      platform: windows
      arch: x64
      tls: schannel
      config: Debug
      extraBuildArgs: -EnableTelemetryAsserts
  - template: ./templates/build-config-user.yml
    parameters:
      image: windows-latest
      platform: windows
      arch: x64
      tls: schannel
      config: Debug
      extraName: 'sanitize'
      extraBuildArgs: -EnableTelemetryAsserts -DynamicCRT -SanitizeAddress -ExtraArtifactDir Sanitize
  - template: ./templates/build-config-user.yml
    parameters:
      image: windows-latest
      platform: windows
      arch: x64
      tls: openssl
      config: Debug
      extraBuildArgs: -EnableTelemetryAsserts

- stage: build_windows_nontest
  displayName: Build Windows - Non Tested
  dependsOn: []
  jobs:
  - template: ./templates/build-config-user.yml
    parameters:
      image: windows-latest
      platform: windows
      arch: x86
      tls: schannel
      extraBuildArgs: -EnableTelemetryAsserts
  - template: ./templates/build-config-user.yml
    parameters:
      image: windows-latest
      platform: windows
      arch: arm
      tls: schannel
      extraBuildArgs: -EnableTelemetryAsserts
  - template: ./templates/build-config-user.yml
    parameters:
      image: windows-latest
      platform: windows
      arch: arm64
      tls: schannel
      extraBuildArgs: -EnableTelemetryAsserts
  - template: ./templates/build-config-user.yml
    parameters:
      image: windows-latest
      platform: uwp
      arch: x64
      tls: schannel
      extraBuildArgs: -DisableTools -DisableTest -EnableTelemetryAsserts
  - template: ./templates/build-config-user.yml
    parameters:
      image: windows-latest
      platform: uwp
      arch: x64
      tls: openssl
      extraBuildArgs: -DisableTools -DisableTest -EnableTelemetryAsserts
  - template: ./templates/build-config-user.yml
    parameters:
      image: windows-latest
      platform: windows
      arch: arm64
      tls: openssl
      extraBuildArgs: -EnableTelemetryAsserts
  - template: ./templates/build-config-user.yml
    parameters:
      image: windows-latest
      platform: windows
      arch: x86
      tls: openssl
      extraBuildArgs: -EnableTelemetryAsserts

- stage: build_linux_release
  displayName: Build Linux - Release
  dependsOn: []
  jobs:
  - template: ./templates/build-config-user.yml
    parameters:
      image: ubuntu-latest
      platform: linux
      arch: x64
      tls: openssl
      config: Release

- stage: build_linux_debug
  displayName: Build Linux - Debug
  dependsOn: []
  jobs:
  - template: ./templates/build-config-user.yml
    parameters:
      image: ubuntu-latest
      platform: linux
      arch: x64
      tls: openssl
      config: Debug
  - template: ./templates/build-config-user.yml
    parameters:
      image: ubuntu-latest
      platform: linux
      arch: x64
      tls: openssl
      extraName: 'sanitize'
      extraBuildArgs: -SanitizeAddress -ExtraArtifactDir Sanitize
      config: Debug
  - template: ./templates/build-config-user.yml
    parameters:
      image: ubuntu-latest
      platform: linux
      arch: x64
      tls: openssl
      config: Debug
      extraName: 'systemopenssl'
      extraBuildArgs: -UseSystemOpenSSLCrypto -ExtraArtifactDir SystemCrypto

- stage: build_linux_nontest
  displayName: Build Linux - Non Tested
  dependsOn: []
  jobs:
  - template: ./templates/build-config-user.yml
    parameters:
      image: ubuntu-latest
      platform: linux
      arch: x64
      tls: openssl
      extraBuildArgs: -Clang -ExtraArtifactDir Clang
      extraName: 'clang'
  - template: ./templates/build-config-user.yml
    parameters:
      image: ubuntu-latest
      container: raspbian
      platform: linux
      arch: arm
      tls: openssl
      ubuntuVersion: 18.04
      extraBuildArgs: -DisableLogs -ToolchainFile cmake/toolchains/arm-pi-gnueabihf.toolchain.cmake
  - template: ./templates/build-config-user.yml
    parameters:
      image: ubuntu-latest
      platform: linux
      arch: x64
      tls: openssl
      extraBuildArgs: -CodeCheck
      skipArtifacts: true
      config: Debug
      extraName: 'codecheck'
  - template: ./templates/build-config-user.yml
    parameters:
      image: ubuntu-latest
      platform: linux
      arch: x64
      tls: openssl
      config: Release
      extraName: 'systemopenssl'
      extraBuildArgs: -UseSystemOpenSSLCrypto -ExtraArtifactDir SystemCrypto

- stage: build_macos_release
  displayName: Build macOS - Release
  dependsOn: []
  jobs:
  - template: ./templates/build-config-user.yml
    parameters:
      image: macOS-10.15
      platform: macos
      arch: x64
      tls: openssl
      config: Release

- stage: build_macos_debug
  displayName: Build macOS - Debug
  dependsOn: []
  jobs:
  - template: ./templates/build-config-user.yml
    parameters:
      image: macOS-10.15
      platform: macos
      arch: x64
      tls: openssl
      config: Debug

- stage: build_macos_nontest
  displayName: Build macOS - NonTest
  dependsOn: []
  jobs:
  - template: ./templates/build-config-user.yml
    parameters:
      image: macOS-10.15
      platform: macos
      arch: arm64
      tls: openssl

- stage: merge_darwin
  displayName: Merge Darwin (macOS)
  dependsOn:
  - build_macos_nontest
  - build_macos_release
  - build_macos_debug
  jobs:
  - template: ./templates/merge-darwin.yml
    parameters:
      image: macOS-10.15

#
# Performance Tests
#

- stage: performance
  displayName: Performance Testing
  dependsOn:
  - build_windows_release
  - build_linux_release
  - build_winkernel_release
  jobs:
  - template: ./templates/run-performance.yml
    parameters:
      pool: MsQuic-Win-Perf
      platform: windows
      localTls: schannel
      remoteTls: schannel
  - template: ./templates/run-performance.yml
    parameters:
      pool: MsQuic-Win-Perf
      platform: windows
      localTls: schannel
      remoteTls: schannel
      testTypes: 'Remote'
      extraName: 'Kernel'
      kernelMode: -Kernel
  - template: ./templates/run-performance.yml
    parameters:
      pool: MsQuic-Win-Perf
      platform: windows
      localTls: openssl
      remoteTls: openssl
  - template: ./templates/run-performance.yml
    parameters:
      pool: MsQuic-Linux-Perf
      platform: linux
      localTls: openssl
      remoteTls: openssl

- stage: wanperf
  displayName: WAN Performance Testing
  dependsOn:
  - build_windows_release
  jobs:
  - template: ./templates/run-wanperf.yml
    parameters:
      jobName: wanperf_5Mbps
      displayName: 5 Mbps
      iterations: 3
      durationMs: 10000
      rateMbps: 5
      bottleneckQueueRatio: (0.25,1.0)
      rttMs: (5,50,200)
      logProfile: Datapath.Light
  - template: ./templates/run-wanperf.yml
    parameters:
      jobName: wanperf_30Mbps
      displayName: 30 Mbps
      iterations: 3
      durationMs: 10000
      rateMbps: 30
      bottleneckQueueRatio: (0.25,1.0)
      rttMs: (5,50,200)
      logProfile: Datapath.Light
  - template: ./templates/run-wanperf.yml
    parameters:
      jobName: wanperf_100Mbps
      displayName: 100 Mbps
      iterations: 3
      durationMs: 10000
      rateMbps: 100
      bottleneckQueueRatio: (0.25,1.0)
      rttMs: (5,50,200)
      logProfile: Datapath.Light

- ${{ if not(eq(variables['Build.Reason'], 'Schedule')) }}:
  - stage: perf_post_process
    displayName: Perf Post Processing
    condition: succeededOrFailed()
    dependsOn:
    - performance
    - wanperf
    jobs:
    - template: ./templates/post-process-performance.yml

#
# Windows Release BVTs
#

- stage: test_bvt_windows_release
  displayName: BVT Windows Release
  dependsOn:
  - build_windows_release
  jobs:
  - template: ./templates/run-bvt.yml
    parameters:
      pool: MsQuic-Win-Latest
      platform: windows
      tls: schannel
      logProfile: Full.Light
      config: Release
      extraArgs: -SkipUnitTests

- stage: test_bvt_winkernel_release
  displayName: BVT Windows Kernel Release
  dependsOn:
  - build_winkernel_release
  - build_windows_release
  jobs:
  - template: ./templates/run-bvt.yml
    parameters:
      pool: MsQuic-Win-Latest
      platform: windows
      tls: schannel
      logProfile: Full.Light
      config: Release
      kernel: true
      extraArgs: -Kernel

#
# Kernel Build Verification Tests
#

- stage: test_bvt_kernel
  displayName: BVT Kernel
  dependsOn:
  - build_winkernel_debug
  - build_windows_debug
  jobs:
  - template: ./templates/run-bvt.yml
    parameters:
      pool: MsQuic-Win-Latest
      platform: windows
      tls: schannel
      logProfile: Full.Light
      extraArgs: -Kernel -Filter -*NthAllocFail*
      kernel: true
      testCerts: true

#
# Build Verification Tests
#

- stage: test_bvt
  displayName: BVT
  dependsOn:
  - build_windows_debug
  - build_linux_debug
  - build_macos_debug
  jobs:
  - template: ./templates/run-bvt.yml
    parameters:
      pool: MsQuic-Win-Latest
      platform: windows
      tls: schannel
      logProfile: Full.Light
      testCerts: true
  - template: ./templates/run-bvt.yml
    parameters:
      image: windows-latest
      platform: windows
      tls: openssl
      logProfile: Full.Light
      extraArgs: -Filter -*Unreachable/0:CredValidation*:*NthAllocFail*
  - template: ./templates/run-bvt.yml
    parameters:
      image: ubuntu-latest
      platform: linux
      tls: openssl
      extraArgs: -Filter -*CredValidation*:*NthAllocFail*
  - template: ./templates/run-bvt.yml
    parameters:
      image: ubuntu-latest
      platform: linux
      tls: openssl
      extraArtifactDir: '_Sanitize'
      extraArgs: -Filter -*CredValidation*:*NthAllocFail* -ExtraArtifactDir Sanitize
  - template: ./templates/run-bvt.yml
    parameters:
      image: macOS-10.15
      platform: macos
      tls: openssl
      logProfile: None
      extraArgs: -Filter -*CredValidation*:*NthAllocFail*
  - template: ./templates/run-bvt.yml
    parameters:
      image: ubuntu-latest
      platform: linux
      tls: openssl
      extraArtifactDir: '_SystemCrypto'
      extraArgs: -Filter -*CredValidation*:*NthAllocFail* -ExtraArtifactDir SystemCrypto

#
# SpinQuic Tests
#

- stage: spinquic
  displayName: SpinQuic
  dependsOn:
  - build_windows_debug
  - build_linux_debug
  jobs:
  - template: ./templates/run-spinquic.yml
    parameters:
      pool: MsQuic-Win-Latest
      platform: windows
      tls: schannel
      allocFail: 100
      extraArtifactDir: '_Sanitize'
      extraArgs: -ExtraArtifactDir Sanitize
  - template: ./templates/run-spinquic.yml
    parameters:
      image: windows-latest
      platform: windows
      tls: openssl
  - template: ./templates/run-spinquic.yml
    parameters:
      image: ubuntu-latest
      platform: linux
      tls: openssl
      extraArtifactDir: '_Sanitize'
      extraArgs: -ExtraArtifactDir Sanitize
  - template: ./templates/run-spinquic.yml
    parameters:
      image: ubuntu-latest
      platform: linux
      tls: openssl

#
# Code Coverage
#

- stage: codecoverage
  displayName: Code Coverage
  dependsOn:
  - build_windows_debug
  jobs:
  - template: ./templates/run-bvt.yml
    parameters:
      pool: MsQuic-Win-Latest
      platform: windows
      tls: schannel
      testCerts: true
      codeCoverage: true
  - template: ./templates/run-spinquic.yml
    parameters:
      pool: MsQuic-Win-Latest
      platform: windows
      tls: schannel
      allocFail: 100
      codeCoverage: true
  - template: ./templates/merge-publish-coverage.yml
    parameters:
      image: windows-latest
      platform: windows
      config: Debug
      arch: x64
      tls: schannel

#
# QuicInterop
#

- stage: quicinterop
  displayName: QuicInterop
  dependsOn:
  - build_windows_release
  - build_linux_release
  - build_macos_release
  jobs:
  - template: ./templates/run-quicinterop.yml
    parameters:
      pool: MsQuic-Win-Latest
      platform: windows
      tls: schannel
  - template: ./templates/run-quicinterop.yml
    parameters:
      image: windows-latest
      platform: windows
      tls: openssl
  - template: ./templates/run-quicinterop.yml
    parameters:
      image: ubuntu-latest
      platform: linux
      tls: openssl
  - template: ./templates/run-quicinterop.yml
    parameters:
      image: macOS-10.15
      platform: macos
      tls: openssl

#
# Mirror
#

- ${{ if and(in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'), not(eq(variables['Build.Reason'], 'Schedule'))) }}:
  - stage: mirror
    displayName: Mirror Branch
    dependsOn:
    - build_windows_release
    - build_winkernel_release
    - build_linux_release
    - build_windows_debug
    - build_winkernel_debug
    - build_linux_debug
    - build_windows_nontest
    - build_winkernel_nontest
    - build_linux_nontest
    - build_macos_release
    - build_macos_nontest
    - build_macos_debug
    - merge_darwin
    jobs:
    - job: mirror
      displayName: Mirror
      pool:
        vmImage: windows-latest
      steps:
      - checkout: self
        persistCredentials: true
      - task: PowerShell@2
        displayName: Sync Changes to AzDO Mirror Branch
        inputs:
          pwsh: true
          filePath: scripts/sync-mirror.ps1
          arguments: -Branch $(Build.SourceBranch)
        env:
          AzDO_PAT: $(AzDO_PAT)

#
# Distribution
#

- ${{ if and(in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'), not(eq(variables['Build.Reason'], 'Schedule'))) }}:
  - stage: distribution
    displayName: Distribution
    dependsOn:
    - build_windows_release
    - build_linux_release
    - build_windows_debug
    - build_linux_debug
    - build_windows_nontest
    - build_linux_nontest
    - merge_darwin
    jobs:
    - template: ./templates/build-distribution.yml
