#
# Continuous Integration (CI)
# This pipeline builds and runs MsQuic performance tests.
#

trigger: none
pr: none

name: 0.$(Date:yyyy).$(Date:MM).$(DayOfMonth).$(Rev:rr).0

parameters:
- name: mode
  type: string
  displayName: Mode
  default: Normal
  values:
  - Normal
  - PGO
  - Record

#
# Builds
#

stages:

- stage: build_windows
  displayName: Build Windows
  dependsOn: []
  variables:
    runCodesignValidationInjection: false
  jobs:
  # Officially supported configurations.
  - template: ./templates/build-config-user.yml
    parameters:
      image: windows-latest
      platform: windows
      arch: x86
      tls: schannel
      config: Release
      ${{ if eq(parameters.mode, 'PGO') }}:
        extraBuildArgs: -DisableTest -PGO
      ${{ if ne(parameters.mode, 'PGO') }}:
        extraBuildArgs: -DisableTest
  - template: ./templates/build-config-user.yml
    parameters:
      image: windows-latest
      platform: windows
      arch: x64
      tls: schannel
      config: Release
      ${{ if eq(parameters.mode, 'PGO') }}:
        extraBuildArgs: -DisableTest -PGO
      ${{ if ne(parameters.mode, 'PGO') }}:
        extraBuildArgs: -DisableTest

#
# Performance Tests
#

- stage: performance
  displayName: Performance Testing (${{ parameters.mode }})
  dependsOn:
  - build_windows
  jobs:
  - template: ./templates/run-performance.yml
    parameters:
      pool: MsQuic-Win-Perf
      platform: windows
      localTls: schannel
      remoteTls: schannel
      ${{ if eq(parameters.mode, 'PGO') }}:
        extraArgs: -PGO -Local
      ${{ if eq(parameters.mode, 'Record') }}:
        extraArgs: -Record -Local
      ${{ if eq(parameters.mode, 'Normal') }}:
        extraArgs: -Local

  - template: ./templates/run-performance.yml
    parameters:
      pool: MsQuic-Win-Perf
      platform: windows
      localTls: schannel
      remoteTls: schannel
      arch: x86
      ${{ if eq(parameters.mode, 'PGO') }}:
        extraArgs: -PGO -Local
      ${{ if eq(parameters.mode, 'Record') }}:
        extraArgs: -Record -Local
      ${{ if eq(parameters.mode, 'Normal') }}:
        extraArgs: -Local
