#
# Continuous Integration (CI)
# This pipeline builds and runs MsQuic performance RPS long run tests.
#

trigger: none
pr: none

schedules:
- cron: "0 0 * * Sun"
  displayName: Weekly Perf Run
  branches:
    include:
    - main
  always: true

name: 0.$(Date:yyyy).$(Date:MM).$(DayOfMonth).$(Rev:rr).0
stages:

#
# Builds
#

- stage: build_windows
  displayName: Build Windows
  dependsOn: []
  variables:
    runCodesignValidationInjection: false
  jobs:
  - template: ./templates/build-config-user.yml
    parameters:
      image: windows-2019
      platform: windows
      arch: x64
      tls: schannel
      config: Release
      extraPrepareArgs: -DisableTest
      extraBuildArgs: -DisableTest -DisableTools
  - template: ./templates/build-config-winkernel.yml
    parameters:
      arch: x64
      config: Release

#
# Performance Tests
#

- stage: performance_rps
  displayName: RPS Performance Testing
  dependsOn:
  - build_windows
  jobs:
  - template: ./templates/run-performance.yml
    parameters:
      pool: MsQuic-Win-Perf
      platform: windows
      localTls: schannel
      remoteTls: schannel
      arch: x64
      failOnRegression: 0
      kernelMode: -Kernel -TestsFile FullRunRPS.json
      extraName: 'Kernel'
      testTypes: 'Remote'
      timeout: 300

- stage: publish_results
  displayName: Publish Results
  dependsOn:
  - performance_rps
  jobs:
  - template: ./templates/post-process-periodic-performance.yml
