h1 {
    font-size: 26pt;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
    font-size: 20pt;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3 {
    font-size: 14pt;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
    font-size: 12pt;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    background-color: #c7c0c0;
    top: 0;
    left: 0;
}

.graph-background {
    padding: 20px;
    background-color: rgb(240, 240, 240);
}

.switch {
    position: relative;
    display: inline-block;
    height: 34px;
    width: 100%;
    margin-bottom: 5px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .kernel {
    background-color: #00ff00;
}

input:focus + .kernel {
    box-shadow: 0 0 1px #00ff00;
}

input:checked + .winschannel {
    background-color: #0000ff;
}

input:focus + .winschannel {
    box-shadow: 0 0 1px #0000ff;
}

input:checked + .winopenssl {
    background-color: #ff0000;
}

input:focus + .winopenssl {
    box-shadow: 0 0 1px #ff0000;
}

input:checked + .slider:before {
    -webkit-transform: translateX(90%);
    -ms-transform: translateX(90%);
    transform: translateX(90%);
}

.centered {
    display: block;
    text-align: center;
}

.platform-label {
    display: block;
    text-align: center;
}
