<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>msquic</string>
    <key>CFBundleExecutable</key>
    <string>msquic</string>
    <key>CFBundleDisplayName</key>
    <string>MsQuic</string>
    <key>CFBundleIdentifier</key>
    <string>com.microsoft.msquic</string>
    <key>CFBundlePackageType</key>
    <string>FMWK</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
        <string>InsertPlatformHere</string>
    </array>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>NSHumanReadableCopyright</key>
    <string>MIT</string>
    <key>CFBundleGetInfoString</key>
    <string>MsQuic Framework</string>
</dict>
</plist>
