name: Build WinUser

# The caller is responsible for making sure all options passed to this workflow are valid and compatible with each other.

on:
  workflow_call:
    inputs:
      ref:
        required: false
        default: ''
        type: string
      repo:
        required: false
        default: microsoft/msquic
        type: string
      config:
        required: false
        default: 'Release'
        type: string
        # options:
        #   - Debug
        #   - Release
      plat:
        required: false
        type: string
        default: 'windows'
        # options:
        #   - windows
        #   - uwp
        #   - winkernel
      os:
        required: false
        type: string
        default: 'windows-2022'
        # options:
        #   - windows-2022
        #   - windows-2025
      arch:
        required: false
        default: 'x64'
        type: string
        # options:
        #   - x86
        #   - x64
        #   - arm64
      tls:
        required: false
        default: 'schannel'
        type: string
        # options:
        #   - quictls
        #   - openssl
        #   - schannel
      static:
        required: false
        default: ''
        type: string
      official:
        required: false
        default: ''
        type: string
      sanitize:
        required: false
        default: ''
        type: string
      build:
        required: false
        default: '' # Empty string means build all
        type: string

permissions:
  contents: read

jobs:
  build-windows-reuse:
    if: inputs.plat == 'windows' || inputs.plat == 'uwp'
    name: Build
    runs-on: ${{ inputs.os }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      with:
        repository: ${{ inputs.repo}}
        ref: ${{ inputs.ref }}
    - name: Install Perl
      uses: shogo82148/actions-setup-perl@f9f0bf89e0d19ddbabb2f40d43db2e944bce7d2f
      with:
        perl-version: '5.34'
    - name: Install NASM
      uses: ilammy/setup-nasm@72793074d3c8cdda771dba85f6deafe00623038b
    - name: Prepare Machine
      shell: pwsh
      run: scripts/prepare-machine.ps1 -ForBuild -Tls ${{ inputs.tls }}
    - name: Build For Test
      if: inputs.build == '-Test'
      shell: pwsh
      run: scripts/build.ps1 -Config ${{ inputs.config }} -Platform ${{ inputs.plat }} -Arch ${{ inputs.arch }} -Tls ${{ inputs.tls }} -DisablePerf -DynamicCRT ${{ inputs.sanitize }}
    - name: Build External Platform Test
      if: inputs.build == '-Test'
      shell: pwsh
      run: |
        cmake --install build\${{ inputs.plat }}\${{ inputs.arch }}_${{ inputs.tls }} --config ${{ inputs.config }}
        cmake src/platform/unittest/external -G "Visual Studio 17 2022" -A ${{ inputs.arch }} -B build_external "-DCMAKE_INSTALL_PREFIX:PATH=C:/Program Files/msquic"
        cmake --build build_external --config ${{ inputs.config }}
    - name: Build For Perf
      if: inputs.build == '-Perf'
      shell: pwsh
      run: scripts/build.ps1 -Config ${{ inputs.config }} -Platform ${{ inputs.plat }} -Arch ${{ inputs.arch }} -Tls ${{ inputs.tls }} -DisableTools -DisableTest ${{ inputs.sanitize }}
    - name: Build
      if: inputs.build == ''
      shell: pwsh
      run: scripts/build.ps1 -Config ${{ inputs.config }} -Platform ${{ inputs.plat }} -Arch ${{ inputs.arch }} -Tls ${{ inputs.tls }} ${{ inputs.sanitize }} ${{ inputs.static }} ${{ inputs.official }}
    - name: Filter Build Artifacts
      shell: pwsh
      run: |
        Remove-Item artifacts/bin/xdp -Recurse -Force -ErrorAction Ignore
        Remove-Item artifacts/corenet-ci-main -Recurse -Force -ErrorAction Ignore
        Remove-Item artifacts/xdp -Recurse -Force -ErrorAction Ignore
    - name: Upload build artifacts
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
      with:
        name: ${{ inputs.config }}-${{ inputs.plat }}-${{ inputs.os }}-${{ inputs.arch }}-${{ inputs.tls }}${{ inputs.sanitize }}${{ inputs.static }}${{ inputs.official }}${{ inputs.build }}
        path: artifacts
