name: Build Darwin Universal

on:
  workflow_call:
    inputs:
      ref:
        required: false
        default: ''
        type: string
      repo:
        required: false
        default: microsoft/msquic
        type: string
      config:
        required: false
        default: 'Release'
        type: string
        # options:
        #   - Debug
        #   - Release
      tls:
        required: false
        default: 'quictls'
        type: string
        # options:
        #   - quictls
        #   - openssl
      static:
        required: false
        default: ''
        type: string

permissions:
  contents: read

jobs:
  build-darwin:
    name: Build Darwin Binaries
    needs: []
    strategy:
      fail-fast: false
      matrix:
        plat: [macos, ios]
        arch: [x64, arm64]
    uses: ./.github/workflows/build-reuse-unix.yml
    with:
      ref: ${{ inputs.ref }}
      config: ${{ inputs.config }}
      plat: ${{ matrix.plat }}
      os: macos-15
      arch: ${{ matrix.arch }}
      tls: ${{ inputs.tls }}
      static: ${{ inputs.static }}
      repo: ${{ inputs.repo }}

  build-darwin-universal:
    name: Build Universal Binaries
    needs: [build-darwin]
    runs-on: macos-15
    steps:
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      with:
        repository: ${{ inputs.repo}}
        ref: ${{ inputs.ref }}
    - name: Download Build Artifacts (x64)
      uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3
      with:
        name: ${{ inputs.config }}-macos-macos-15-x64-${{ inputs.tls }}${{ inputs.static }}
        path: artifacts
    - name: Download Build Artifacts (arm64)
      uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3
      with:
        name: ${{ inputs.config }}-macos-macos-15-arm64-${{ inputs.tls }}${{ inputs.static }}
        path: artifacts
    - name: Build Package
      shell: pwsh
      run: scripts/merge-darwin.ps1 -DeleteSource -Config ${{ inputs.config }} -Tls ${{ inputs.tls }}
    - name: Upload build artifacts
      uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f
      with:
        name: ${{ inputs.config }}-macos-macos-15-universal-${{ inputs.tls }}${{ inputs.static }}
        path: artifacts

  build-darwin-framework:
    name: Build Darwin Framework
    needs: [build-darwin-universal]
    strategy:
      fail-fast: false
      matrix:
        vec: [
          { plat: "ios", arch: "x64" }, # iOS Simulator
          { plat: "ios", arch: "arm64" },
          { plat: "macos", arch: "universal" },
        ]
    runs-on: macos-15
    steps:
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      with:
        repository: ${{ inputs.repo}}
        ref: ${{ inputs.ref }}
    - name: Download Build Artifacts (x64)
      uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3
      with:
        name: ${{ inputs.config }}-${{ matrix.vec.plat }}-macos-15-${{ matrix.vec.arch }}-${{ inputs.tls }}${{ inputs.static }}
        path: artifacts
    - name: Build Framework
      shell: pwsh
      run: scripts/package-darwin-framework.ps1 -Config ${{ inputs.config }} -Platform ${{ matrix.vec.plat }} -Arch ${{ matrix.vec.arch }} -Tls ${{ inputs.tls }}
    - name: Upload build artifacts
      uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f
      with:
        name: Framework-${{ inputs.config }}-${{ matrix.vec.plat }}-macos-15-${{ matrix.vec.arch }}-${{ inputs.tls }}${{ inputs.static }}
        path: artifacts

  build-darwin-xcframework:
    name: Build Darwin XCFramework
    needs: [build-darwin-framework]
    runs-on: macos-15
    steps:
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      with:
        repository: ${{ inputs.repo}}
        ref: ${{ inputs.ref }}
    - name: Download Build Artifacts (iOS x64)
      uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3
      with:
        name: Framework-${{ inputs.config }}-ios-macos-15-x64-${{ inputs.tls }}
        path: artifacts
    - name: Download Build Artifacts (iOS arm64)
      uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3
      with:
        name: Framework-${{ inputs.config }}-ios-macos-15-arm64-${{ inputs.tls }}
        path: artifacts
    - name: Download Build Artifacts (MacOS Universal)
      uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3
      with:
        name: Framework-${{ inputs.config }}-macos-macos-15-universal-${{ inputs.tls }}
        path: artifacts
    - name: Build XCFramework
      shell: pwsh
      run: scripts/package-darwin-xcframework.ps1 -Config ${{ inputs.config }} -Tls ${{ inputs.tls }}
    - name: Upload build artifacts
      uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f
      with:
        name: XCFramework-${{ inputs.config }}-${{ inputs.tls }}
        path: artifacts/frameworks
