name: Build Darwin Universal

on:
  workflow_call:
    inputs:
      ref:
        required: false
        default: ''
        type: string
      repo:
        required: false
        default: microsoft/msquic
        type: string
      config:
        required: false
        default: 'Release'
        type: string
        # options:
        #   - Debug
        #   - Release
      tls:
        required: false
        default: 'quictls'
        type: string
        # options:
        #   - quictls
        #   - openssl
      static:
        required: false
        default: ''
        type: string

permissions: read-all

jobs:
  build-darwin:
    name: Build Darwin Binaries
    needs: []
    strategy:
      fail-fast: false
      matrix:
        plat: [macos, ios]
        arch: [x64, arm64]
    uses: ./.github/workflows/build-reuse-unix.yml
    with:
      ref: ${{ inputs.ref }}
      config: ${{ inputs.config }}
      plat: ${{ matrix.plat }}
      os: macos-15
      arch: ${{ matrix.arch }}
      tls: ${{ inputs.tls }}
      static: ${{ inputs.static }}
      repo: ${{ inputs.repo }}

  build-darwin-universal:
    name: Build Universal Binaries
    needs: [build-darwin]
    runs-on: macos-15
    steps:
    - name: Checkout repository
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      with:
        repository: ${{ inputs.repo}}
        ref: ${{ inputs.ref }}
    - name: Download Build Artifacts (x64)
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53
      with:
        name: ${{ inputs.config }}-macos-macos-15-x64-${{ inputs.tls }}${{ inputs.static }}
        path: artifacts
    - name: Download Build Artifacts (arm64)
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53
      with:
        name: ${{ inputs.config }}-macos-macos-15-arm64-${{ inputs.tls }}${{ inputs.static }}
        path: artifacts
    - name: Build Package
      shell: pwsh
      run: scripts/merge-darwin.ps1 -DeleteSource -Config ${{ inputs.config }} -Tls ${{ inputs.tls }}
    - name: Upload build artifacts
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
      with:
        name: ${{ inputs.config }}-macos-macos-15-universal-${{ inputs.tls }}${{ inputs.static }}
        path: artifacts

  build-darwin-framework:
    name: Build Darwin Framework
    needs: [build-darwin-universal]
    strategy:
      fail-fast: false
      matrix:
        vec: [
          { plat: "ios", arch: "x64" }, # iOS Simulator
          { plat: "ios", arch: "arm64" },
          { plat: "macos", arch: "universal" },
        ]
    runs-on: macos-15
    steps:
    - name: Checkout repository
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      with:
        repository: ${{ inputs.repo}}
        ref: ${{ inputs.ref }}
    - name: Download Build Artifacts (x64)
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53
      with:
        name: ${{ inputs.config }}-${{ matrix.vec.plat }}-macos-15-${{ matrix.vec.arch }}-${{ inputs.tls }}${{ inputs.static }}
        path: artifacts
    - name: Build Framework
      shell: pwsh
      run: scripts/package-darwin-framework.ps1 -Config ${{ inputs.config }} -Platform ${{ matrix.vec.plat }} -Arch ${{ matrix.vec.arch }} -Tls ${{ inputs.tls }}
    - name: Upload build artifacts
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
      with:
        name: Framework-${{ inputs.config }}-${{ matrix.vec.plat }}-macos-15-${{ matrix.vec.arch }}-${{ inputs.tls }}${{ inputs.static }}
        path: artifacts

  build-darwin-xcframework:
    name: Build Darwin XCFramework
    needs: [build-darwin-framework]
    runs-on: macos-15
    steps:
    - name: Checkout repository
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      with:
        repository: ${{ inputs.repo}}
        ref: ${{ inputs.ref }}
    - name: Download Build Artifacts (iOS x64)
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53
      with:
        name: Framework-${{ inputs.config }}-ios-macos-15-x64-${{ inputs.tls }}
        path: artifacts
    - name: Download Build Artifacts (iOS arm64)
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53
      with:
        name: Framework-${{ inputs.config }}-ios-macos-15-arm64-${{ inputs.tls }}
        path: artifacts
    - name: Download Build Artifacts (MacOS Universal)
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53
      with:
        name: Framework-${{ inputs.config }}-macos-macos-15-universal-${{ inputs.tls }}
        path: artifacts
    - name: Build XCFramework
      shell: pwsh
      run: scripts/package-darwin-xcframework.ps1 -Config ${{ inputs.config }} -Tls ${{ inputs.tls }}
    - name: Upload build artifacts
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
      with:
        name: XCFramework-${{ inputs.config }}-${{ inputs.tls }}
        path: artifacts/frameworks
