name: Build Darwin Universal

on:
  workflow_call:
    inputs:
      ref:
        required: false
        default: ''
        type: string
      config:
        required: false
        default: 'Release'
        type: string
        # options:
        #   - Debug
        #   - Release
      tls:
        required: false
        default: 'openssl'
        type: string
        # options:
        #   - openssl
        #   - openssl3
      static:
        required: false
        default: ''
        type: string

permissions: read-all

jobs:
  build-darwin:
    name: Build Darwin Binaries
    needs: []
    strategy:
      fail-fast: false
      matrix:
        plat: [macos, ios]
        arch: [x64, arm64]
    uses: ./.github/workflows/build-reuse-unix.yml
    with:
      ref: ${{ inputs.ref }}
      config: ${{ inputs.config }}
      plat: ${{ matrix.plat }}
      os: macos-12
      arch: ${{ matrix.arch }}
      tls: ${{ inputs.tls }}
      static: ${{ inputs.static }}

  build-darwin-universal:
    name: Build Universal Binaries 
    needs: [build-darwin]
    runs-on: macos-12
    steps:
    - name: Checkout repository
      uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f
      with:
        repository: microsoft/msquic
        ref: ${{ inputs.ref }}
    - name: Download Build Artifacts (x64)
      uses: actions/download-artifact@8caf195ad4b1dee92908e23f56eeb0696f1dd42d
      with:
        name: ${{ inputs.config }}-macos-macos-12-x64-${{ inputs.tls }}${{ inputs.static }}
        path: artifacts
    - name: Download Build Artifacts (arm64)
      uses: actions/download-artifact@8caf195ad4b1dee92908e23f56eeb0696f1dd42d
      with:
        name: ${{ inputs.config }}-macos-macos-12-arm64-${{ inputs.tls }}${{ inputs.static }}
        path: artifacts
    - name: Build Package
      shell: pwsh
      run: scripts/merge-darwin.ps1 -DeleteSource -Config ${{ inputs.config }}
    - name: Upload build artifacts
      uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808
      with:
        name: ${{ inputs.config }}-macos-macos-12-universal-${{ inputs.tls }}${{ inputs.static }}
        path: artifacts

  build-darwin-framework:
    name: Build Darwin Framework
    needs: [build-darwin-universal]
    strategy:
      fail-fast: false
      matrix:
        vec: [
          { plat: "ios", arch: "x64" }, # iOS Simulator
          { plat: "ios", arch: "arm64" },
          { plat: "macos", arch: "universal" },
        ]
    runs-on: macos-12
    steps:
    - name: Checkout repository
      uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f
      with:
        repository: microsoft/msquic
        ref: ${{ inputs.ref }}
    - name: Download Build Artifacts (x64)
      uses: actions/download-artifact@8caf195ad4b1dee92908e23f56eeb0696f1dd42d
      with:
        name: ${{ inputs.config }}-${{ matrix.vec.plat }}-macos-12-${{ matrix.vec.arch }}-${{ inputs.tls }}${{ inputs.static }}
        path: artifacts
    - name: Build Framework
      shell: pwsh
      run: scripts/package-darwin-framework.ps1 -Config ${{ inputs.config }} -Platform ${{ matrix.vec.plat }} -Arch ${{ matrix.vec.arch }}
    - name: Upload build artifacts
      uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808
      with:
        name: Framework-${{ inputs.config }}-${{ matrix.vec.plat }}-macos-12-${{ matrix.vec.arch }}-${{ inputs.tls }}${{ inputs.static }}
        path: artifacts

  build-darwin-xcframework:
    name: Build Darwin XCFramework
    needs: [build-darwin-framework]
    runs-on: macos-12
    steps:
    - name: Checkout repository
      uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f
      with:
        repository: microsoft/msquic
        ref: ${{ inputs.ref }}
    - name: Download Build Artifacts (iOS x64)
      uses: actions/download-artifact@8caf195ad4b1dee92908e23f56eeb0696f1dd42d
      with:
        name: Framework-${{ inputs.config }}-ios-macos-12-x64-openssl
        path: artifacts
    - name: Download Build Artifacts (iOS arm64)
      uses: actions/download-artifact@8caf195ad4b1dee92908e23f56eeb0696f1dd42d
      with:
        name: Framework-${{ inputs.config }}-ios-macos-12-arm64-openssl
        path: artifacts
    - name: Download Build Artifacts (MacOS Universal)
      uses: actions/download-artifact@8caf195ad4b1dee92908e23f56eeb0696f1dd42d
      with:
        name: Framework-${{ inputs.config }}-macos-macos-12-universal-openssl
        path: artifacts
    - name: Build XCFramework
      shell: pwsh
      run: scripts/package-darwin-xcframework.ps1 -Config ${{ inputs.config }}
    - name: Upload build artifacts
      uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808
      with:
        name: XCFramework-${{ inputs.config }}
        path: artifacts/frameworks
