name: BVT

on:
  workflow_dispatch:
  push:
    branches:
    - main
    - release/*
  pull_request:
    branches:
    - main
    - release/*

concurrency:
  # Cancel any workflow currently in progress for the same PR.
  # Allow running concurrently with any other commits.
  group: stress-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions: read-all

jobs:
  bvt:
    name: BVT
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, macos-12, windows-2019, windows-2022]
        arch: [x64]
        tls: [schannel, openssl, openssl3]
        xdp: ['', '-UseXdp']
        sanitize: ['', '-Sanitize']
        exclude:
        # Schannel only supported on windows-2022
        - os: ubuntu-20.04
          tls: schannel
        - os: macos-12
          tls: schannel
        - os: windows-2019
          tls: schannel
        # Linux and Windows Schannel use ASAN
        - os: ubuntu-20.04
          sanitize: ''
        - tls: schannel
          sanitize: ''
        # OpenSSL on Windows and macOS doesn't work with ASAN
        - os: macos-12
          sanitize: '-Sanitize'
        - os: windows-2019
          tls: openssl
          sanitize: '-Sanitize'
        - os: windows-2019
          tls: openssl3
          sanitize: '-Sanitize'
        - os: windows-2022
          tls: openssl
          sanitize: '-Sanitize'
        - os: windows-2022
          tls: openssl3
          sanitize: '-Sanitize'
        # XDP stuff is Windows only
        - os: ubuntu-20.04
          xdp: '-UseXdp'
        - os: macos-12
          xdp: '-UseXdp'
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
    - name: Install Perl
      if: runner.os == 'Windows'
      uses: shogo82148/actions-setup-perl@e0737ade83f9863f9f5c00d8470b6d7bec207fee
      with:
        perl-version: '5.34'
    - name: Install NASM
      if: runner.os == 'Windows'
      uses: ilammy/setup-nasm@321e6ed62a1fc77024a3bd853deb33645e8b22c4
    - name: Prepare Machine
      run: scripts/prepare-machine.ps1 -Tls ${{ matrix.tls }} -ForBuild -ForTest ${{ matrix.xdp }}
      shell: pwsh
    - name: Build
      shell: pwsh
      run: scripts/build.ps1 -Config Debug -Arch ${{ matrix.arch }} -Tls ${{ matrix.tls }} -DisableTools -DisablePerf -DynamicCRT ${{ matrix.xdp }} ${{ matrix.sanitize }}
    - name: Test
      shell: pwsh
      timeout-minutes: 90
      run: scripts/test.ps1 -Config Debug -Arch ${{ matrix.arch }} -Tls ${{ matrix.tls }} -LogProfile Basic.Light -GenerateXmlResults
    - name: Upload on Failure
      uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce
      if: failure()
      with:
        name: ${{ matrix.os }}-${{ matrix.arch }}-${{ matrix.tls }}${{ matrix.xdp }}${{ matrix.sanitize }}
        path: artifacts

  bvt-kernel:
    name: BVT Kernel
    needs: []
    strategy:
      fail-fast: false
      matrix:
        os: ['windows-2019'] # TODO: Add windows-2022
        arch: [x64]
        tls: [schannel]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
    - name: Prepare Machine
      shell: pwsh
      run: scripts/prepare-machine.ps1 -ForBuild -ForTest -ForKernel
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@34cfbaee7f672c76950673338facd8a73f637506
    - name: Nuget Restore
      shell: pwsh
      run: msbuild msquic.kernel.sln -t:restore /p:RestorePackagesConfig=true /p:Configuration=Debug /p:Platform=${{ matrix.arch }}
    - name: Build
      shell: pwsh
      run: msbuild msquic.kernel.sln /p:Configuration=Debug /p:Platform=${{ matrix.arch }} /p:QUIC_VER_SUFFIX=-official
    - name: Test
      shell: pwsh
      timeout-minutes: 90
      run: scripts/test.ps1 -Config Debug -Arch ${{ matrix.arch }} -Tls ${{ matrix.tls }} -LogProfile Basic.Light -GenerateXmlResults -Kernel
    - name: Upload on Failure
      if: failure()
      with:
        name: ${{ matrix.os }}-winkernel-${{ matrix.arch }}-${{ matrix.tls }}
        path: artifacts
