name: Cargo

on:
  push:
    branches:
    - main
    - release/*
  pull_request:
    branches:
    - main
    - release/*

permissions: read-all

jobs:
  cargo:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    name: Cargo
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@0d381219ddf674d61a7572ddd19d7941e271515c
      with:
        egress-policy: audit
    - name: Checkout repository
      uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
    - name: Prepare Machine
      run: scripts/prepare-machine.ps1 -Tls openssl -ForBuild
      shell: pwsh
    - name: Install Perl
      if: runner.os == 'Windows'
      uses: shogo82148/actions-setup-perl@f551dafcc94572adc179bbddbb409b3ada8f8ff5
      with:
        perl-version: '5.34'
    - name: Install NASM
      if: runner.os == 'Windows'
      uses: ilammy/setup-nasm@13cbeb366c45c4379d3478cdcbadd8295feb5028
    - name: Install Cargo
      if: runner.os == 'Linux'
      run: curl https://sh.rustup.rs -sSf | sh -s -- -y
    - name: Cargo build
      run: cargo build --all
    - name: Cargo test
      run: cargo test --all
    - name: Cargo Publish (dry run)
      run: cargo publish --dry-run --allow-dirty
