name: Cargo

on:
  push:
    branches:
    - main
    - release/*
  pull_request:
    branches:
    - main
    - release/*

permissions: read-all

jobs:
  cargo:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest, macos-latest-xlarge]
    runs-on: ${{ matrix.os }}
    name: Cargo
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@0080882f6c36860b6ba35c610c98ce87d4e2f26f
      with:
        egress-policy: audit
    - name: Checkout repository
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
    - name: Prepare Machine
      run: scripts/prepare-machine.ps1 -Tls openssl -ForBuild
      shell: pwsh
    - name: Install Perl
      if: runner.os == 'Windows'
      uses: shogo82148/actions-setup-perl@98dfedee230bcf1ee68d5b021931fc8d63f2016e
      with:
        perl-version: '5.34'
    - name: Install NASM
      if: runner.os == 'Windows'
      uses: ilammy/setup-nasm@13cbeb366c45c4379d3478cdcbadd8295feb5028
    - name: Install Cargo
      if: runner.os == 'Linux'
      run: curl https://sh.rustup.rs -sSf | sh -s -- -y
    - name: Cargo fmt
      run: cargo fmt --all -- --check
    - name: Cargo clippy
      run: cargo clippy --all-targets -- -D warnings
    - name: Cargo build
      run: cargo build --all
    - name: Cargo test
      run: cargo test --all
    - name: Cargo Publish (dry run)
      run: cargo publish --dry-run --allow-dirty
