name: Cross Compile MsQuic

on:
  workflow_dispatch:
  push:
    branches:
    - main
    paths:
    - .github/workflows/cross-compile.yml
    - src/core/*
    - src/platform/*
    - src/bin/*
    - src/inc/*
    - src/perf/*
    - src/tools/*
    - src/test/*
    - submodules/openssl/*
  pull_request:
    branches:
    - main
    paths:
    - .github/workflows/cross-compile.yml
    - src/core/*
    - src/platform/*
    - src/bin/*
    - src/inc/*
    - src/perf/*
    - src/tools/*
    - src/test/*
    - submodules/openssl/*

concurrency:
  # Cancel any workflow currently in progress for the same PR.
  # Allow running concurrently with any other commits.
  group: containers-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions: read-all

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        arch: [arm, arm64]
        toolchain: ['cmake/toolchains/arm-linux.cmake', 'cmake/toolchains/aarch64-linux.cmake']
        config: [Debug, Release]
        exclude:
        - arch: arm
          toolchain: 'cmake/toolchains/aarch64-linux.cmake'
        - arch: arm64
          toolchain: 'cmake/toolchains/arm-linux.cmake'
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/microsoft/msquic/linux-build-xcomp
    name: Build
    steps:
    - name: Checkout repository
      uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
      with:
        fetch-depth: 2
        submodules: 'recursive'
    - name: Set ownership
      run: |
        # this is to fix GIT not liking owner of the checkout dir
        chown -R $(id -u):$(id -g) $PWD
    - name: Prepare Machine
      shell: pwsh
      run: scripts/prepare-machine.ps1 -ForOneBranch -InitSubmodules
    - name: Build
      shell: pwsh
      run: scripts/build.ps1 -Config ${{ matrix.config }} -DisableLogs -Arch ${{ matrix.arch }} -ToolchainFile ${{ matrix.toolchain }} -OneBranch
