name: Cross-Compile Docker

on:
  push:
    branches: [ main ]
    paths:
    - .github/workflows/docker-publish-xcomp.yml
    - .docker/ubuntu-20.04/*
    - .docker/ubuntu-22.04/*
    - .docker/ubuntu-24.04/*
  pull_request:
    branches: [ main ]
    paths:
    - .github/workflows/docker-publish-xcomp.yml
    - .docker/ubuntu-20.04/*
    - .docker/ubuntu-22.04/*
    - .docker/ubuntu-24.04/*

permissions: read-all

env:
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}/linux-build-xcomp

jobs:
  build:

    strategy:
      fail-fast: false
      matrix:
        version: ['20.04', '22.04', '24.04']
        target: ['xdp', 'cross']
        exclude:
          # 20.04 doesn't support XDP, 24.04's XDP is included in cross
          - version: '20.04'
            target: 'xdp'
          - version: '24.04'
            target: 'xdp'

    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0d381219ddf674d61a7572ddd19d7941e271515c
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332

      # Login against a Docker registry except on PR
      # https://github.com/docker/login-action
      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@0d4c9c5ea7693da7b068278f7b52bda2a190a446
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Extract metadata (tags, labels) for Docker
      # https://github.com/docker/metadata-action
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@8e5442c4ef9f78752691e2d8f8d19755c6f78e81
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      # Build and push Docker image with Buildx (don't push on PR)
      # https://github.com/docker/build-push-action
      - name: Build and push Docker image
        uses: docker/build-push-action@1ca370b3a9802c92e886402e0dd88098a2533b12
        with:
          context: .docker/ubuntu-${{ matrix.version }}
          file: .docker/ubuntu-${{ matrix.version }}/Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:ubuntu-${{ matrix.version }}-${{ matrix.target }}
          labels: ${{ steps.meta.outputs.labels }}
          target: ${{ matrix.target }}-build
