name: Cross-Compile Docker

on:
  push:
    branches: [ main ]
    paths:
    - .github/workflows/docker-publish-xcomp.yml
    - .docker/ubuntu-22.04/*
    - .docker/ubuntu-24.04/*
  pull_request:
    branches: [ main ]
    paths:
    - .github/workflows/docker-publish-xcomp.yml
    - .docker/ubuntu-22.04/*
    - .docker/ubuntu-24.04/*

permissions: read-all

env:
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}/linux-build-xcomp

jobs:
  build:

    strategy:
      fail-fast: false
      matrix:
        version: ['22.04', '24.04']
        target: ['cross']

    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      # Login against a Docker registry except on PR
      # https://github.com/docker/login-action
      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Extract metadata (tags, labels) for Docker
      # https://github.com/docker/metadata-action
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      # Build and push Docker image with Buildx (don't push on PR)
      # https://github.com/docker/build-push-action
      - name: Build and push Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          context: .docker/ubuntu-${{ matrix.version }}
          file: .docker/ubuntu-${{ matrix.version }}/Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:ubuntu-${{ matrix.version }}-${{ matrix.target }}
          labels: ${{ steps.meta.outputs.labels }}
          target: ${{ matrix.target }}-build
