name: Hello World

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master

jobs:
  run-script:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run helloworld.ps1
        shell: pwsh
        run: ./scripts/helloworld.ps1
