name: Alpine Linux Packages

on:
  workflow_dispatch:
  push:
    branches:
    - main
    - release/*
  pull_request:
    branches:
    - main
    - release/*

concurrency:
  # Cancel any workflow currently in progress for the same PR.
  # Allow running concurrently with any other commits.
  group: package-alpine-linux-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions: read-all

jobs:
  build-alpine-packages:
    name: Generate Alpine Packages
    needs: []
    strategy:
      fail-fast: false
      matrix:
        vec: [
          { friendlyName: "Alpine-3.20-x64", config: "Release", arch: "x64", tls: "quictls", image: "mcr.microsoft.com/dotnet/sdk:8.0-alpine3.20-amd64" },
        ]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
    - name: Set up QEMU
      uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130
    - name: Generate APKBUILD
      shell: pwsh
      run: |
        ./scripts/generate-alpine-packaging-file.ps1 -ArchiveUri https://github.com/${{ github.repository }}/archive/${{ github.sha }}.tar.gz -SHA ${{ github.sha }}
        mkdir -p packages
    - name: Docker Run and Build Package
      run: |
        docker run \
                -v $(pwd)/packages:/artifacts \
                -v $(pwd):/msquic \
                ${{ matrix.vec.image }} /msquic/scripts/package-build.sh
    - name: Upload Package
      uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f
      with:
        name: ${{ matrix.vec.friendlyName }}-package
        path: packages/*.apk

  test-packages-on-docker:
    name: Test Linux Packages
    needs: [build-alpine-packages]
    strategy:
      fail-fast: false
      matrix:
        vec: [
          { friendlyName: "Alpine-3.20-x64", config: "Release", arch: "x64", tls: "quictls", image: "mcr.microsoft.com/dotnet/runtime:9.0-alpine3.20-amd64", dotnetVersion: "9.0" },
        ]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
    - name: Download Package
      uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3
      with:
        name: ${{ matrix.vec.friendlyName }}-package
        path: artifacts
    - name: Set up QEMU
      uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130
    - name: Set up .NET 9.0
      uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309
      with:
        dotnet-version: ${{ matrix.vec.dotnetVersion }}
    - name: Build .NET QUIC Test Project (self-contained)
      run: |
        # Map arch to musl runtime identifier
        case "${{ matrix.vec.arch }}" in
          x64) RID="linux-musl-x64" ;;
          arm64) RID="linux-musl-arm64" ;;
        esac
        pushd src/cs/QuicSimpleTest && dotnet publish QuicHello.net${{ matrix.vec.dotnetVersion }}.csproj -r $RID -c ${{ matrix.vec.config }} -o artifacts/net${{ matrix.vec.dotnetVersion }} -f net${{ matrix.vec.dotnetVersion }} --self-contained true /p:PublishSingleFile=true && popd
    - name: Docker Run
      run: |
        docker run -v $(pwd):/main ${{ matrix.vec.image }} /main/scripts/docker-script.sh ${{ matrix.vec.arch }} ${{ matrix.vec.config }} ${{ matrix.vec.tls }} ${{ matrix.vec.dotnetVersion }}
