name: Build and Coverage

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: coverage-${{ github.sha }}
  cancel-in-progress: true

jobs:
  coverage:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deploy.outputs.page_url }}

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Init
        run: sudo make init

      - name: Build and Test with Coverage
        run: make coverage-html

      - uses: actions/upload-pages-artifact@v3
        with:
          path: artifacts/coverage/html
      - uses: actions/deploy-pages@v4
        id: deploy
